#content {
    margin: 0 auto;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 5px;
    text-align: center;
    background-color: #053f5e;
}

#footer p {
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: justify;
    font-size: 18px;
    text-align: center;
    color: #f5d000;
}

.navbar {
    background-color: #053f5e;
}

.navbar a {
    font-family: 'Carrois Gothic SC', sans-serif;
    color: #f5d000;
}

.navbar a:visited {
    color: #f5d000;
}

.navbar a:hover {
    color: #f7f5f3;
}

.navbar button {
    font-family: 'Carrois Gothic SC', sans-serif;
    color: #f5d000;
    border-style: solid;
    border-color: #f5d000;
}

#banner-img {
    max-width: 100%;
    height: 92vh;
    
}

#banner {
    position: relative;
    text-align: center;
    color: #f7f5f3;
}

#profile-picture {
    max-width: 90%;
}

body h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
}

body h2 {
    font-family: 'Carrois Gothic SC', sans-serif;
    margin-top: 5px;
    color: #053f5e;
}

body a {
    color: #429AC9;
}

body a:visited {
    color: #035aa6;
}

body a:hover {
    color: #f5d000;
    text-decoration: none;
}

p {
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: justify;
    font-size: 18px;
}

li {
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: justify;
    font-size: 18px;
}

html body {
    position: relative;
    padding-bottom: 6rem;
    padding-top: 8vh;
    min-height: 100%;
    background-color: #f7f5f3;
}

html {
    scroll-behavior: smooth;
}

.separator {
    height: 10vh;
}