#content {
    margin: 0 auto;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 5px;   
    text-align: center;
    background-color: #8ee4af;
}

#footer p {
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: justify;
    font-size: 18px;
    text-align: center;
    color: #05386b;
}

.navbar {
    background-color: #8ee4af;
}

.navbar a {
    font-family: 'Carrois Gothic SC', sans-serif;
    /* color: #edf5e1; */
    color: #05386b;
}

.navbar a:hover {
    color: #edf5e1;
}

.navbar a:visited {
    color: #edf5e1;
}

.navbar button {
    font-family: 'Carrois Gothic SC', sans-serif;
    color: #edf5e1;
    border-style: solid;
    border-color: #edf5e1;
}

#banner-img {
    max-width: 100%;
}

#banner {
    position: relative;
    text-align: center;
    color: #edf5e1;
}

#profile-picture {
    max-width: 90%;
}

#github {
    width: 50px;
}

body h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
}

body h2 {
    font-family: 'Carrois Gothic SC', sans-serif;
    margin-top: 5px;
    color: #05386b;
}

body h4 {
    font-family: 'Carrois Gothic SC', sans-serif;
}

body a {
    color: #379683;
}

body a:hover {
    color: #05386b;
    text-decoration: none;
}

body a:visited {
    color: #5cdb95;
}

p {
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: justify;
    font-size: 18px;
}

li {
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: justify;
    font-size: 18px;
}

html body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    padding-top: 40px;
    min-height: 100%;
    /* background-color: #fef9c7; */
    background-color: #edf5e1;
}

html {
    scroll-behavior: smooth;
}

span {
    margin-bottom: 50px;
}