a:hover {
    color:   rgb(235, 53, 53);
}

#content {
    margin: 0 auto;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 10px;
    padding: 5px;   
    text-align: center;
    background-color: rgb(42, 104, 161);
}

#footer p {
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: justify;
    font-size: 18px;
    text-align: center;
    color: white;
}


.navbar {
    background-color: rgb(42, 104, 161);
}

.icon-bar {
    color: white;
}

.navbar a {
    font-family: 'Carrois Gothic SC', sans-serif;
    
    color: white;
}

.navbar button {
    font-family: 'Carrois Gothic SC', sans-serif;
    color: white;
    border-style: solid;
    border-color: white;
}

#banner-img {
    max-width: 100%;
}

#banner {
    position: relative;
    text-align: center;
    color: white;
}

#profile-picture {
    max-width: 90%;
}

#github {
    width: 50px;
}

body h1 {
    font-family: 'Major Mono Display', monospace;
    font-size: 5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80%;
}

body h2 {
    font-family: 'Carrois Gothic SC', sans-serif;
    margin-top: 5px;
}

body h4 {
    font-family: 'Carrois Gothic SC', sans-serif;
}

p {
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: justify;
    font-size: 18px;
}

li {
    font-family: 'Quattrocento Sans', sans-serif;
    text-align: justify;
    font-size: 18px;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    padding-top: 40px;
    min-height: 100%;
}

html {
    scroll-behavior: smooth;
}

span {
    margin-bottom: 50px;
}